@import "../../../global.scss";
.Overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #55697e;
    .top{
        width: 75%;
        height: 20%;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        h1{
            color: white;
            font-size: 50px;
            font-weight: 100;
        }
    }
    .wrapper{
        display: grid;
        width: 75%;
        height: auto;
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2%;
        color: white;
        align-items: center;
        justify-content: center;
        overflow: hidden;
       .one{
           
           grid-column: 1;
           grid-row: 1;
           h1{
               font-size: 30px;
               padding: 10px 0 10px;
               font-weight: 300;
           }
           h2{
            font-size: 20px;
            font-weight: 100;
           }
           color: white;
       }
       .two{
            grid-column: 1;
            grid-row: 2;
            color: white;
            h1{
                font-size: 30px;
                padding: 10px 0 10px;
                font-weight: 300;
            }
            h2{
             font-size: 20px;
             font-weight: 100;
            }
            color: white;
        }
        .three{
            grid-column: 2;
            grid-row: 1;
            color: white;
            h1{
                font-size: 30px;
                padding: 10px 0 10px;
                font-weight: 300;
            }
            h2{
             font-size: 20px;
             font-weight: 100;
            }
            color: white;
        }
        .four{
            grid-column: 2;
            grid-row: 2;
            color: white;
            h1{
                font-size: 30px;
                padding: 10px 0 10px;
                font-weight: 300;
            }
            h2{
             font-size: 20px;
             font-weight: 100;
            }
            color: white;
        }
    }
}