@import "../../../global.scss";
.Watchlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    
    .top{
        width: 93%;
        padding-bottom: 3%;
        padding-top: 2%;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        @include mobile{
            align-items: center;
            justify-content: center;
            padding-top: 3%;
        }
        h1{
            color: white;
            font-size: 50px;
            font-weight: 500;
            @include mobile{
                font-size: 30px;
                font-weight: 400;
            }
        }
    }
    .wrapper{
        padding-left: 3%;
        display: flex;
        overflow: hidden; 
        @include mobile{
            flex-direction: column;
            align-items: center;
        }
    
        .left{
            overflow: hidden;
            height: 90%;
            @include mobile{
                height: 70%;
            }
            .itemContainer{
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                height: 100%;
                width: 100%;
                @include mobile{
                    height: 90%;
                    width: 100%;
                }
                
                img{
                    @include mobile{
                        height: 90%;
                        width: 100%;
                    }
                }
            }
        
        }
        
        
        ul{
            flex:50%;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            font-size: 20px;
            overflow: hidden;
            @include mobile{
                font-size: 12px;
            }
            li{
                display: flex;
                align-items: center;
                padding-bottom: 5%;
                overflow: hidden;
                @include mobile{
                    padding-bottom: 2%;
                }
                .icon{
                    padding-right: 15px;
                    
                }
                h1{
                    color: white;
                    font-size: inherit;
                    font-weight: 100;
                }
            }
        }                   
    }
}