.StockPage{
    display:flex;
    align-items: center;
    overflow: hidden;

    .left{
        flex: .3;
        align-items: center;

        .itemContainer{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .right{
        flex: .7;
        align-items: center;

        .itemContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            img{
                width: 150px;
                height: 150px;
            }
        }
    }
}