@import "../../../global.scss";
.profile{
  background-color: $mainColor;
  
  justify-content: center;
  align-items: center;
  
  .right{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wrapper2{
      display: flex;
      flex-direction: column;
      width: 90%;
      @include mobile{
        width: 100%;
      }
      height: fit-content;
      justify-content: center;
      align-items: center;
      .avatar-image{
        border-radius: 10%;
        height: 200px;
        width: 200px;
        
      }
      .iconList{
        
        display: flex;
        flex-direction: row;
        width: fit-content;
        justify-content: center;
        align-items: center;
        margin: 10px 0 0;
        @include mobile{
          margin: 2px 0 0;
        }
        padding-right: 40px;
        overflow: hidden;
        li{
          margin: 10px 0 0;
          @include mobile{
            margin: 5px 0 0;
          }
          padding: 10px;
          color: white;
          .icons{
            color: white;
            
          }
          .resume{
            height: 50px;
            width: 50px;
          }
        }
      }
      .name-header{
        color: rgb(116, 200, 245);
        font-size: 60px;
        font-weight: 200;
        margin:0 5px 0;
        overflow: hidden;
        @include mobile{
          font-size: 35px;
        }
      }
      .description-text{
        overflow: hidden;
        text-align: center;
        font-size: 30px;
        font-weight: 200;
        width: 65%;
        height: fit-content;
        margin: 5px 5px 0;
        color: rgb(197, 209, 178);
        @include mobile{
          
          font-size: 18px;
          text-align: center;
          width: 95%;
        }
      }
      .technologies{
        overflow: hidden;
        font-size: 30px;
        font-weight: 200;
        width: 65%;
        height: fit-content;
        text-align: center;
        margin: 10px 5px 0;
        color: white;
        @include mobile{
          font-size: 17px;
          text-align: center;
          width: 90%;
        }
      }
    }
    .wrapper3{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3%;
      margin-right: 25px;
      .bottomTwo{        
        display: flex;
        flex-direction: column;
        font-size: 25px;
        @include mobile{
          width: 100%;
        }
        li{
          overflow: hidden;
          align-items: center;
          display: flex;
          flex-direction: row;
          @include mobile{
            font-size: 13px;
            width: 100%;
          }
          .icon{
            font-style: 25px;
            color:rgb(116, 200, 245);
            @include mobile{
              font-size: 12px;
            }
          }
          h1{
            font-size: inherit;
            color:rgb(116, 200, 245);
            font-weight: 100;
            @include mobile{
              font-size: 12px;
            }

          }
        }
      }
    }
    
    
  }
   
}