@import "../../../global.scss";
.Intro{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    h1{
        color:white;
        margin: 0 15vh 0;
        font-weight: 200;
        font-size: 50px;
        text-align: center;
        @include mobile{
            font-size: 35px;
            margin: 0;
            width: 80%;
        }
    }
}