.Plaid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .top{
        width: 93%;
        padding: 10px;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        h1{
            color: white;
            font-size: 50px;
            font-weight: 500;
        }
    }
    .wrapper{
        padding-left: 3%;
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        overflow: hidden; 
        .left{
            flex: 25%;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            .itemContainer{
                img{
                    width: 80%;
                    height: 90%;
                    
                }
                display: flex;
                align-items: center;
            }
           
        }
        ul{
            flex:50%;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            li{
                display: flex;
                align-items: center;
                padding: 5%;
                .icon{
                    padding-right: 15px;
                }
                h1{
                    color: white;
                    font-size: 20px;
                    font-weight: 100;
                }
            }
        }                   
    }
    
}