.Top{
    height: 100%;
    width: 100%;
    .Tabs{
        width: 20%;
        color: white;
    }
}
.BoxTab{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
    