.MarketWatch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .top{
        width: 70%;
        padding: 10px;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        h1{
            color: white;
            font-size: 45px;
            white-space: nowrap;
            font-weight: 500;
        }
    }
    .wrapper{
        padding-left: 3%;
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        overflow: hidden;
        
        .left{
            flex: 25%;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            

            .itemContainer{
                img{
                    width: 80%;
                    height: 90%;
                    padding: 10px;
                }
                display: flex;
                align-items: center;
            }
        }
        .right{
            flex: 50%;
            align-items: center;
            justify-content: center;
            color: white;

            .itemContainer{
                display: flex;
                align-items: center;
                padding: 5%;
                h2{
                    padding: 3.5%;
                    font-size: 25px;
                    font-weight: 100;
                }
            }
        }
    }
        

}