@import "../../../global.scss";
.MarketWatch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;

    .top{ 
        width: 93%;
        height: 5%;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        @include mobile{
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        h2{
            color: white;
            font-size: 50px;
            font-weight: 200;
            @include mobile{
                font-size: 30px;
                font-weight: 200;
                text-align: center;
            }
        }
    }
    .wrapper{
        padding-left: 3%;
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        overflow: hidden; 
        height: 100%;
        @include mobile{
            flex-direction: column;
            align-items: center;
        }
        @include tablet{
            flex-direction: column;
            align-items: center;
        }
        @include mid{
            max-width: 800px;
        }
        .imgWrapper{
            flex:60%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            max-height: 100%;
            overflow: hidden;
            @include mobile{
                width: 90%;
            }
            .left{
                padding-right: 10px;
                img{
                    max-height: 700px;
                    max-width: 300px;
                    @include mobile{
                        max-height: 230px;
                        max-width: 85px;
                    }
                    @include tablet{
                        max-height: 350px;
                        max-width: 300px;
                    }
                }
                display: flex;
                align-items: center;
                justify-content: center;
            }         
        }
        .right{
            padding-top: 10%;
            flex: 50%;
            align-items: center;
            justify-content: center;
            color: white;
            overflow: hidden;
            @include mobile{
                padding: none;
                width: 90%;
                height: 100%;
            }
            @include tablet{
                padding-bottom: 3%;
                padding-top: 0%;
                width:90%;
            }
            .itemContainer{
                display: flex;
                align-items: center;
                h2{
                    font-size: 20px;
                    padding: 5%;
                    font-weight: 100;
                    @include mobile{
                        padding: 1%;
                        font-size: 12px;
                    }
                }
            }
        }
    }
        

}